################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/oopLabs_2ndCourse/v15/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/TestingGitHub+Compiler/.vs/TestingGitHub+Compiler/v15/ipch/AutoPCH/245e866887d5be65/FIRSTTRY.ipch
/TestingGitHub+Compiler/.vs/TestingGitHub+Compiler/v15/ipch/AutoPCH/edaa29287b15b6be/FIRSTTRY.ipch
/TestingGitHub+Compiler/.vs/TestingGitHub+Compiler/v15/.suo
/TestingGitHub+Compiler/.vs/TestingGitHub+Compiler/v15
/TestingGitHub+Compiler/TestingGitHub+Compiler/x64/Debug/TestingG.FD3D40EB.tlog
/TestingGitHub+Compiler/TestingGitHub+Compiler/x64/Debug
/TestingGitHub+Compiler/TestingGitHub+Compiler/TestingGitHub+Compiler.vcxproj
/TestingGitHub+Compiler/TestingGitHub+Compiler/TestingGitHub+Compiler.vcxproj.filters
/TestingGitHub+Compiler/TestingGitHub+Compiler/TestingGitHub+Compiler.vcxproj.user
/TestingGitHub+Compiler/x64/Debug
/Lab01/.vs/Lab01/v15/Browse.VC.opendb
